<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="pt-br"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Wasabi Sushi</title>
<link
	th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous" defer>
<script
	th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js}"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous" defer></script>
<script
	th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js}"
	integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
	crossorigin="anonymous" defer></script>
<script
	th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js}"
	integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
	crossorigin="anonymous" defer></script>
<link rel="stylesheet" th:href="@{../dist/css/home.css}">
<script th:src="@{../dist/js/home.js}" defer></script>
</head>
<body>
	<div class="row container-fluid" id="container-pagina">
		<div id="container-capa" class="col-12">
			<div class="row d-flex justify-content-center container-logo">
				<img th:src="@{/images/logo-wasabiapp.png}" id="logo-wasabiapp"
					alt="">
			</div>

		</div>
		<div id="container-principal" class="col-12">
			<div class="row text-center text">
				<p>Seu restaurante favorito de comida japonesa</p>
			</div>
			<div class="row text-center" id="carrosel-produtos">
				<th:block th:each="produto : ${promocoes}">
					<div class="col-xl-2 col-sm-4 col-6 card-carrosel">
						<div class="produto-carrosel">
							<img th:src="|/imagem/${produto.idProduto}|" alt="">
						</div>
						<span th:text="${produto.nome}"></span>
						<p th:text="${produto.precoFormatado}"></p>
					</div>
				</th:block>
			</div>
			<div class="row container-conteudo">
				<div class="col-xl-9 col-sm-12">
					<div class="row pt-2">
						<div class="col-xl-8 col-sm-12" id="hyperlink-categoria">
							<th:block th:each="categoria : ${categorias}">
								<span th:text="${categoria.nome}"></span>
								<span> | </span>
							</th:block>
						</div>
						<div class="campo-pesquisar col-xl-4 col-sm-12">
							<input type="text" placeholder="Pesquisar...">
						</div>
					</div>
					<hr>
					<th:block th:each="categoria : ${categorias}">
						<div class="row container-cardapio-produtos">
							<div class="row d-flex justify-content-start texto-categoria">
								<span th:text="${categoria.nome}"></span>
							</div>
							<th:block th:each="produto : ${categoria.produtos}">
								<div class="container-card-produto col-xl-6 col-sm-12">
									<div class="row card-produto">
										<div class="texto-produto col">
											<h5 th:text="${produto.nome}"></h5>
											<p class="descricao-produto" th:text="${produto.descricao}"></p>
											<p class="preco-produto"
												th:text="${{produto.precoFormatado}}"></p>
										</div>
										<div class="imagem-produto col-4 ">
											<img th:src="|/imagem/${produto.idProduto}|" alt="">
										</div>

									</div>
								</div>
							</th:block>
						</div>
						<hr>
					</th:block>
				</div>
				<div class="col-xl-3 col-sm-12 ">
					<div class="row container-carrinho">
						<div class="col-12 container carrinho">
							<div class="row titulo-carrinho">
								<p>LISTA DE PEDIDOS</p>
							</div>
							<div class="lista-pedidos">
								<div class="col-12 row pb-3">
									<p>PEDIDO 1</p>
								</div>
								<div class="col-12 row pb-3">
									<p>PEDIDO 1</p>
								</div>
								<div class="col-12 row pb-3">
									<p>PEDIDO 1</p>
								</div>
								<div class="col-12 row pb-3">
									<p>PEDIDO 1</p>
								</div>
								<div class="col-12 row pb-3">
									<p>PEDIDO 1</p>
								</div>
								<div class="col-12 row pb-3">
									<p>PEDIDO 1</p>
								</div>
								<div class="col-12 row pb-3">
									<p>PEDIDO 1</p>
								</div>

							</div>
							<div class="">VALOR TOTAL</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<footer>
	<p>agradecimentos, considerações e autores do site</p>
</footer>
</html>