<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="pt-br"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Wasabi Sushi - Pagamento</title>
	<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css}" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"
		defer />
	<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css}" />
	<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js}"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"
		defer></script>
	<script th:src="@{https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js}"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"
		defer></script>
	<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js}"
		integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"
		defer></script>
	<script th:src="@{https://code.jquery.com/jquery-3.6.1.js}"
		integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
	<link rel="stylesheet" th:href="@{../dist/css/pagamento.css}" />
	<link rel="stylesheet" th:href="@{../dist/css/botao-e-gaveta.css}" />
	<link rel="shortcut icon" th:href="@{/images/favicon.ico}" />
</head>

<body>
	<!-- gaveta inicio -->
	<button class="btn-float" onclick="openNav()">
		<i class="bi bi-list"></i>
	</button>
	<div id="mySidenav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<div id="wasabi-logo-circle">
			<img id="wasabi-logo-drawer" th:src="@{/images/logo-wasabiapp.png}" alt="logo_wasabi_sushi.png" />
		</div>
		<div id="div-boas-vindas">
			<p>
				Seja bem-vindo(a) <span th:text="${cliente.nome}"></span>
			</p>
		</div>
		<div class="btns-gaveta">
			<a th:href="@{/home}" id="sidenav-home-btn">Home<i style="float: right" class="bi bi-house"></i>
			</a>
			<form th:action="@{/alterarCadastro}">
				<input type="hidden" th:field="*{usuario.idUsuario}" name="idUsuario" />
				<div id="div-btn-alterar">
					<i class="bi bi-person-circle" id="icon-alterar-home"></i>
					<input type="submit" value="Alterar Cadastro" id="sidenav-alterar-btn">
				</div>
			</form>
			<a id="btn-sair" th:href="@{/logout}">Sair da conta<i style="float: right"
					class="bi bi-box-arrow-right"></i></a>
		</div>
	</div>
	<!-- gaveta fim -->
	<div class="container-modal">
		<div class="row conteudo-modal d-flex">
			<p id="modal-texto-up">Pedido realizado com sucesso!</p>
			<img th:src="@{/images/check-mark.png}" alt="" id="img-check-mark" />
			<p id="modal-texto-down">Prazo para entrega: 50 a 60 minutos</p>
			<div id="container-btn-voltar-tela-principal">
				<a th:href="@{/home}" id="btn-voltar-tela-principal">Voltar à
					tela principal</a>
			</div>
		</div>
	</div>
	<div id="background" onclick="closeNav()">
		<div class="flex-container row">
			<div id="container-lista-pedido" class="col-xl-3 col-sm-12">
				<div id="titulo-carrinho">Pedido</div>
				<hr />
				<div class="listapedido">
					<th:block th:each="produtoPedido : ${carrinho}">
						<div class="row container-produto-pedido">
							<div class="container-img-pedido col-4">
								<img th:src="|/imagem/${produtoPedido.produto.idProduto}|" alt="" />
							</div>
							<div class="container-info-pedido col-8">
								<p th:text="${produtoPedido.produto.nome}"></p>
								<div class="container-qtd-sub">
									<p id="itemquantidade" th:text="|Quantidade: ${produtoPedido.quantidade}|"></p>
									<p th:text="|Subtotal: R$ ${produtoPedido.subtotal}|"></p>
								</div>
								<a
									th:href="@{/alterarQuantidade/{id}/{acao}(id=${produtoPedido.produto.idProduto},acao=${0})}"><i
										class="bi bi-dash-circle"></i></a>
								<a
									th:href="@{/alterarQuantidade/{id}/{acao}(id=${produtoPedido.produto.idProduto},acao=${1})}"><i
										class="bi bi-plus-circle"></i></a>
								<a th:href="@{/removerProduto/{id}/{tela}(id=${produtoPedido.produto.idProduto},tela=${1})}"><i
										class="bi bi-trash3-fill"></i></a>
							</div>
						</div>
					</th:block>
				</div>
				<hr />
				<div class="descricao-pedido">
					<div>Taxa de entrega: R$ 10,00</div>
					<div>
						Total: R$ <span id="totalpedidocarrinho"></span>
					</div>
				</div>
				<div id="container-btnAlterarPedido">
					<a th:href="@{/home}" class="btn btn-primary">Alterar pedido</a>
				</div>
			</div>
			<div id="container-menu-pagamento" class="col-xl-5 col-sm-12">
				<form th:action="@{/salvarPedido}" method="POST">
					<div id="div-topo-menu-pagamento">
						<div id="div-info-cliente">
							<input type="hidden" name="idCliente" th:value="${cliente.idCliente}" />
							<p id="p-nome-cliente">
								Cliente: <span th:text="${cliente.nome}"></span>
							</p>
							<p id="p-endereco-cliente">
								Endereço: <span th:text="${endereco.logradouro}"></span>, <span
									th:text="${endereco.numero}"></span>, <span th:text="${endereco.bairro}"></span> -
								<span th:text="${endereco.cidade}"></span><br /> <span
									th:text="${endereco.complemento}"></span>
							</p>
						</div>
						<div id="div-status-tempo">
							<div id="card-status-tempo">
								<div id="row-status">
									<span>Status: &nbsp;&nbsp;Aberto</span>
									<img id="img-green-light" th:src="@{/images/green-light.png}" alt="" />
								</div>
								<div id="row-previsao">
									<span>Previsão:</span>
									<span>50 a 60 minutos</span>
								</div>
							</div>
						</div>
					</div>
					<div id="div-observacao-final">
						<label id="observacao-final" for="observacao-final"><b>Informações
							adicionais: </b></label><br />
						<textarea id="observacao-final" name="observacao-final"></textarea>
					</div>
					<div id="div-forma-pagamento">
						<p id="title-pagamento">Pagamento na entrega</p>
						<hr>
						<div id="div-opcao-dinheiro">
							<img id="dinheiro-icone" th:src="@{/images/dinheiro-icone.png}" alt="" /> <label
								for="opcao-dinheiro">Dinheiro </label> <input type="radio" id="opcao-dinheiro"
								name="opcao-pagamento-radio" value="" />
						</div>
						<div id="div-opcao-credito">
							<img id="credito-icone" th:src="@{/images/icon-credit-card.png}" alt="" /> <label
								for="opcao-credito" style="text-align: left">Cartão
								de crédito</label> <input type="radio" id="opcao-credito" name="opcao-pagamento-radio"
								value="" />
						</div>
						<div id="div-opcao-debito">
							<img id="debito-icone" th:src="@{/images/icon-debit-card.png}" alt="" /> <label
								for="opcao-debito">Cartão de débito</label> <input type="radio" id="opcao-debito"
								name="opcao-pagamento-radio" value="" />
						</div>
					</div>
					<div id="div-pagamento-escolhido">
						<label for="input-troco">Troco: </label> <input type="text" name="input-troco"
							id="input-troco" />
					</div>
					<div id="container-botao-pedido">
						<input type="submit" value="Enviar pedido" class="btn btn-primary" id="btn-enviar-pedido"
							onclick="switchModal()" />
					</div>
				</form>
			</div>
			<div id="container-imagem-lateral" class="col-xl-4 col-sm-12">
			</div>
		</div>
	</div>
	<script th:src="@{../dist/js/pagamento.js}" defer></script>
</body>

</html>